#output {
    margin-top: 10px;
    padding: 10px;
    border-radius: 5px;
    font-size: 16px;
    position: relative;    
    max-height: 100px;
    overflow: hidden;
}

#copyButton {
    top: 10px;
    right: 10px;
    background-color: #28a745;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 5px;
}

#copyButton:hover {
    background-color: #218838;
}